* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.btn-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-container button:first-child {
  background-color: #dc3545;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 60px; /* 헤더의 높이와 동일하게 조정 */
	margin-left: 200px; /* 사이드바의 너비와 동일하게 조정 */
	padding: 20px;
  max-width: 1000px;
  width: 100%;
}

.card-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card-item {
  padding: 5px 0;
}

.card {
  
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 20px;
  width: 1200px;
  margin-left: 200px;
}

.card h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  margin-bottom: 20px;
}

.inner-card {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 10px 0;
}

.inner-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.inner-card p {
  font-size: 14px;
  margin-bottom: 10px;
}

.post-container {
      border: 1px solid #ccc;
      margin-bottom: 10px;
      padding: 10px;
      background-color: #f5f5f5;
}