header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: #f6f6f6;
	color: white;
	padding: 0 20px;
}

.header-left h1 {
	font-size: 24px;
	margin: 0;
}

.header-right ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.header-right li {
	margin-left: 20px;
}

.header-right li:first-child {
	margin-left: 0;
}

.header-right a {
	color: rgb(44, 44, 44);
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}
