
    /* CSS 스타일링을 위한 코드 */
    body {
      margin: 0;
      padding: 0;
    }

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #f2f2f2;
      padding: 10px 20px;
    }

    nav ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    nav li {
      margin: 0 10px;
    }

    nav a {
      color: #333;
      text-decoration: none;
      font-weight: bold;
    }

    nav a:hover {
      color: #f00;
    }

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #f2f2f2;
      padding: 10px 20px;
      margin-left: auto;
    }

    .header-buttons {
      display: flex;
      margin-left: auto;
    }

    .header-button {
      background-color: #333;
      color: #fff;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      margin: 0 10px;
    }

    .sidebar {
      background-color: #f2f2f2;
      width: 200px;
      height: 100%;
      position: fixed;
      top: 60px;
      left: 0;
      overflow-y: auto;
    }

    .sidebar ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .sidebar li {
      margin: 10px 0;
    }

    .sidebar a {
      color: #333;
      text-decoration: none;
    }

    .sidebar a:hover {
      color: #f00;
    }

    .logo {
      background-color: #f2f2f2;
      margin: 10px;
      position: fixed;
      z-index: 999;
    }

    .logo.fixed {
      background-color: #f2f2f2;
    }

    footer {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    main {
      margin-left: 200px;
      padding: 20px;
      padding-bottom: 50px;
      /* 푸터 높이만큼 padding-bottom을 추가함 */
    }

.card-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card-item {
  padding: 5px 0;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 20px;
}

.card h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  margin-bottom: 20px;
}

.sidebar .sidebar-text {
  color: #333; /* 흰색 글자 색상 */
  font-size: 1.2em; /* 글자 크기 1.2em으로 설정 */
  font-weight: bold; /* 글씨체를 두껍게 */
  text-align: center; /* 가운데 정렬 */
}

.sidebar li {
  text-align: center;
}

.inner-card {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 10px 0;
}

.inner-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.inner-card p {
  font-size: 14px;
  margin-bottom: 10px;
}

.post-container {
      border: 1px solid #ccc;
      margin-bottom: 10px;
      padding: 10px;
      background-color: #f5f5f5;
}
  