aside {
	background-color: #F7F9FB;
	width: 200px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 60px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

aside nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

aside nav li {
	margin: 5px 0;
}

aside nav a {
	display: block;
	padding: 10px;
	color: #292F36;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

aside .logo {
    display: block;
    margin: 0 auto 20px;
    width: 80%;
    max-width: 150px; /* 로고 이미지의 최대 너비 */
}

@media (max-width: 800px) {
	aside {
	  display: none;
	}
	main {
	  margin-left: 0;
	  width: 100%;
	}
  }
