<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>웹사이트 제목</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/HRmain.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Nanum+Gothic:wght@800&family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <!-- <link rel="stylesheet" href="./modal.css"/>
    <script type="text/javascript" src="./modal.js"></script> -->

    <script type="text/javascript">
      function handleSearch() {
        const startDate = document.getElementById("startDate").value;
        const endDate = document.getElementById("endDate").value;
        const status = document.getElementById("status").value;
        const type = document.getElementById("type").value;

        // TODO: 선택한 값으로 조회 로직 구현
        console.log(
          `startDate: ${startDate}, endDate: ${endDate}, status: ${status}, type: ${type}`
        );
      }
    </script>
  </head>

  <body>
    <header>
      <div class="logo">
        <img src="로고이미지주소" alt="로고" />
      </div>
      <nav class="navbar">
        <ul>
          <li><a href="#">홈</a></li>
          <li><a href="#">게시판</a></li>
          <li><a href="#">회원가입</a></li>
          <li><a href="#">로그인</a></li>
        </ul>
      </nav>
    </header>

    <div class="sidebar">
      <ul>
        <li><a class="sidebar-text" href="#">공지사항</a></li>
        <li><a class="sidebar-text" href="#">이벤트</a></li>
        <li><a class="sidebar-text" href="#">새소식</a></li>
        <li><a class="sidebar-text" href="#">고객센터</a></li>
      </ul>
    </div>
    <main>
      <h1>인사 발령</h1>
      <hr />

      <div style="display: flex">
        <div class="card" style="flex: 1">
          <h2>인사 발령 조회</h2>
          <div class="inner-card">
            <form>
              <label for="startDate">시작일자:</label>
              <input type="date" id="startDate" name="startDate" />

              <label for="endDate">종료일자:</label>
              <input type="date" id="endDate" name="endDate" />

              <label for="status">상태:</label>
              <select id="status" name="status">
                <option value="">전체</option>
                <option value="state1">상태 1</option>
                <option value="state2">상태 2</option>
                <option value="state3">상태 3</option>
              </select>

              <label for="type">유형:</label>
              <select id="type" name="type">
                <option value="">전체</option>
                <option value="type1">유형 1</option>
                <option value="type2">유형 2</option>
                <option value="type3">유형 3</option>
              </select>

              <button type="button" onClick="handleSearch()">조회</button>
              <br /><br />
              <table>
                <thead>
                  <tr>
                    <th>결재상태</th>
                    <th>발령일</th>
                    <th>공지일</th>
                    <th>발령인원</th>
                    <th>발령 유형</th>
                    <th>제목</th>
                    <th>등록일</th>
                    <th>공지여부</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>대기</td>
                    <td>2023-02-15</td>
                    <td>2023-02-10</td>
                    <td>3</td>
                    <td>임원</td>
                    <td>인사 발령 안내</td>
                    <td>2023-02-08</td>
                    <td>미공지</td>
                  </tr>
                  <tr>
                    <td>승인</td>
                    <td>2023-02-14</td>
                    <td>2023-02-10</td>
                    <td>1</td>
                    <td>일반</td>
                    <td>신입 사원 발령</td>
                    <td>2023-02-08</td>
                    <td>미공지</td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>


    </main>
    <footer>© 2023 웹사이트 이름. All rights reserved.</footer>
  </body>
</html>
