<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>웹사이트 제목</title>
  <link rel="stylesheet" href="/css/main.css"/>
</head>

<body>
  <header>
    <div class="logo">
      <img src="로고이미지주소" alt="로고">
    </div>
    <nav class="navbar">
      <ul>
        <li><a href="#">홈</a></li>
        <li><a href="#">마이페이지</a></li>
        <li><a href="#">조직도</a></li>
        <li><a href="#">결재</a></li>
        <li><a href="#">근무/휴가</a></li>
        <li><a href="#">급여</a></li>
        <li><a href="#">관리자</a></li>
        <li><a href="#">로그아웃</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>웹사이트 내용</h1>
    <hr>
    <div style="display: flex;">
      <div class="card" style="flex: 1;">
        <h3>출근상태</h3>
        <div class="inner-card">
          <h4>출근 / 지각 / 병결 / 연가</h4>
        </div>
      </div>

      <div class="card"  style="flex: 2;">
        <h3>결재 할 것</h3>
        <div class="inner-card">
          <h4>결재 게시판</h4>
        </div>
      </div>
    </div>

    <div style="display: flex;">
      <div class="card"  style="flex: 1;">
        <h2>공지사항</h2>
        <div class="inner-card">

          <div class="post-container">
            <h3><a href="#">게시물 제목</a></h3>
            <p>게시물 내용은 여기에 작성됩니다. 여러 줄일 수도 있습니다. </p>
            <p class="post-date">작성일: 2023-02-14</p>
          </div>

          <div class="post-container">
            <h3><a href="#">게시물 제목</a></h3>
            <p>게시물 내용은 여기에 작성됩니다. 여러 줄일 수도 있습니다. </p>
            <p class="post-date">작성일: 2023-02-14</p>
          </div>
        </div>
      </div>
    </div>
    
  </main>
  <footer>
    © 2023 웹사이트 이름. All rights reserved.
  </footer>
</body>

</html>