<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="../css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="../css/Manage.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </script>


    <title>관리자 페이지</title>
</head>

<body>
<header>
    <div style="width:100%; float:right;">
        <div style="float: right; margin-right: 20px">
            <div style="float: left; margin-right: 30px">
                <h4 th:text="'관리자 계정 `'+ ${userName} +'` 로그인 중...'"></h4>
            </div>
            <div style="float: right;">
                <a href="/logout"><h4 style="font-weight: bold;">로그아웃</h4></a>
            </div>

        </div>
    </div>
</header>
<aside>
    <a href="/"><img class="logo" src="/image/THUMBS.png" alt="THUMBS.png"></a>
    <div style="margin: 0px auto; text-align: center;">
        <div style="padding: 10px;">
            <h3>사원 관리</h3>
            <div style="margin: 10px; padding: 10px; clear: both;">
                <span><a href="/manage/register-member">신규 사원 추가</a></span><br><br>
                <span><a href="#">사원 정보 변경</a></span><br><br>
                <span><a href="#">사원 권한 변경</a></span><br><br>
            </div>
            <h3>부서 관리</h3>
            <div style="margin: 10px; padding: 10px; clear: both;">
                <span><a href="#">부서 편집</a></span><br><br>
            </div>
            <h3>문서 관리</h3>
            <div style="margin: 10px; padding: 10px; clear: both;">
                <span><a href="#">문서 복구</a></span><br><br>
            </div>
        </div>
    </div>
</aside>
<main>
    <div style="height: 150px; margin:30px; padding:10px"> <!-- 기본 폼 : 선택한 서식 및 현재 작업을 알려주는 헤드라인 -->
        <h1>THUMBS 프로그램 관리자 페이지</h1>
        <br>
        <h3>왼쪽의 관리 메뉴 중 하나를 선택하세요.</h3>
    </div>

<!--    <div label="프로그램 통계" style="clear:both; height: 500px; border:1px solid lightgray; margin:30px; padding:30px; width:50%">-->
<!--        <h2>프로그램 이용 통계</h2><br>-->

<!--        <div style="margin: 30px; font-size: 20px;" id="visitors"></div>-->
<!--        <div style="margin: 30px; font-size: 20px;" id="pageviews"></div>-->
<!--        <div style="margin: 30px; font-size: 20px;" id="popular"></div>-->

<!--    </div>-->

<!--    <script>-->
<!--        // 방문자 수 계산하기-->
<!--        var visitors = localStorage.getItem('visitors');-->
<!--        if (visitors) {-->
<!--            visitors = parseInt(visitors) + 1;-->
<!--        } else {-->
<!--            visitors = 1;-->
<!--        }-->
<!--        localStorage.setItem('visitors', visitors);-->
<!--        document.getElementById('visitors').innerHTML = '* 총 방문자 수 : ' + visitors + '명';-->

<!--        // 페이지 뷰 수 계산하기-->
<!--        var pageviews = sessionStorage.getItem('pageviews');-->
<!--        if (pageviews) {-->
<!--            pageviews = parseInt(pageviews) + 1;-->
<!--        } else {-->
<!--            pageviews = 1;-->
<!--        }-->
<!--        sessionStorage.setItem('pageviews', pageviews);-->
<!--        document.getElementById('pageviews').innerHTML = '* 총 페이지 뷰 : ' + pageviews + '회';-->

<!--        // 인기 페이지 계산하기-->
<!--        var popular = [-->
<!--            {path: '/', count: 0},-->
<!--            {path: '/index', count: 0},-->
<!--            {path: '/manage', count: 0},-->
<!--            {path: '/myPage', count: 0},-->
<!--            {path: '/login', count: 0}-->
<!--        ];-->
<!--        var path = window.location.pathname;-->
<!--        for (var i = 0; i < popular.length; i++) {-->
<!--            if (popular[i].path === path) {-->
<!--                popular[i].count++;-->
<!--            }-->
<!--        }-->
<!--        popular.sort(function (a, b) {-->
<!--            return b.count - a.count;-->
<!--        });-->
<!--        var html = '* 인기 페이지 : <ul>';-->
<!--        for (var i = 0; i < popular.length; i++) {-->
<!--            if (popular[i].count > 0) {-->
<!--                html += '<li>' + popular[i].path + ' (' + popular[i].count + 'view)</li>';-->
<!--            }-->
<!--        }-->
<!--        html += '</ul>';-->
<!--        document.getElementById('popular').innerHTML = html;-->
<!--    </script>-->


</main>
</body>

</html>